In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [5]:
data = [
 [10,1,1],[5,2,1],[6,1.8,1],[7,1,1],[8,2,1],[9,0.5,1],
 [4,3,1],[5,2.5,1],[8,1,1],[4,2.5,1],[8,0.1,0],[7,0.15,0],
 [4,1,0],[5,0.8,0],[7,0.3,0],[4,1,0],[5,0.5,0],[6,0.3,0],
 [7,0.2,0],[8,0.15,0]
]

df = pd.DataFrame(data, columns=["Luong","ThoiGian","ChoVay"])
df

    Luong  ThoiGian  ChoVay
0      10      1.00       1
1       5      2.00       1
2       6      1.80       1
3       7      1.00       1
4       8      2.00       1
5       9      0.50       1
6       4      3.00       1
7       5      2.50       1
8       8      1.00       1
9       4      2.50       1
10      8      0.10       0
11      7      0.15       0
12      4      1.00       0
13      5      0.80       0
14      7      0.30       0
15      4      1.00       0
16      5      0.50       0
17      6      0.30       0
18      7      0.20       0
19      8      0.15       0

In [11]:
X = df[["Luong","ThoiGian"]]
y = df["ChoVay"]
X

    Luong  ThoiGian
0      10      1.00
1       5      2.00
2       6      1.80
3       7      1.00
4       8      2.00
5       9      0.50
6       4      3.00
7       5      2.50
8       8      1.00
9       4      2.50
10      8      0.10
11      7      0.15
12      4      1.00
13      5      0.80
14      7      0.30
15      4      1.00
16      5      0.50
17      6      0.30
18      7      0.20
19      8      0.15

In [12]:
y

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: ChoVay, dtype: int64

In [13]:

model = LogisticRegression()
model.fit(X,y)

model.coef_, model.intercept_

(array([[0.66718299, 2.09449597]]), array([-6.43942603]))